.login{
    margin-top: 150px;
    margin-left: 35%;
}

.login-from{
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
    height: 300px;
    border: 1px solid gray;
}

.google-signIn{
    margin-top: 20px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: honeydew;
    color: black;
    padding: 5px;
}
.google-btn{
    margin-left: 40px;
   

}
.button{
    width: 90%;
    padding: 5px;
    background-color:  #108a7a;
    color: white;
    margin-bottom: 30px;
}
.border-bottom{
     width: 97%;
     border: none;
     padding-bottom: 20px;
     margin-bottom: 2px solid gray;
  
}
.p-left{
    cursor: pointer;
    padding-left: 10px;
    color: #108a7a;
}